
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #0D3959;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 4px black;
    margin: 40px;
    background-color: #DBEDFA;
    color: black;
}

header {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

input {
    display: none;
}

input[type="radio"]:checked + img {
    border: solid 2px red;
    transform: scale(1.1);
}

.game {
    display: inline;
}

img {
    height: 180px;
    margin: 5px;
}

section {
    width: 1000px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

button {
    margin: 10px;
    font-size: 1.3rem;
}

.results {
    display: inline;
    text-align: center;
    margin: 10px;
    line-height: 30px;
}

#round-results {
    font-size: 1.5rem;
}

#draw-results {
    font-size: 1.5rem;
}
